.Cards {
  /* display: flex; */
  display:grid;
  grid-template-columns: repeat(auto-fit ,minmax(290px,1fr));
  column-gap: 12px;
  row-gap: 16px;
  align-items: center;
  margin-top: 45px;
  margin-left:40px;
  margin-right:40px;
  border-radius: 4px;
}
.parentContainer{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
    margin-left:10px;
    align-items:center;
  margin-right:0px;
  }
}

